[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sharmakumudkant
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sharmakumudkant
	label-Verified = -1..+1 group user/sharmakumudkant
	push = group user/sharmakumudkant
	read = group user/sharmakumudkant
	rebase = group user/sharmakumudkant
	removeReviewer = group user/sharmakumudkant
	submit = group user/sharmakumudkant
[access "refs/heads/*"]
	create = group user/sharmakumudkant
	push = +force group user/sharmakumudkant
	pushMerge = group user/sharmakumudkant
	read = group user/sharmakumudkant
[access "refs/tags/*"]
	push = group user/sharmakumudkant
	push = +force group user/sharmakumudkant
